<h1>{{ app_name }}</h1>
<h2>Boast or Roast</h2>
{% for post in posts %}
    <hr>
    {# data start here #}
    {% if post.is_roast == True %}
        <h2>ROAST</h2>
    {% endif %}
    {% if post.is_roast == False %}
        <h2>BOAST</h2>
    {% endif %}

    <h3>{{ post.text }}</h3>
    <small>{{ post.created_at }}</small>
    <p>
        boasts: <strong>{{ post.boasts }}</strong>

        roasts: <strong>{{ post.roasts }}</strong>
    </p>
    {# buttons start here #}
    <a href='/boasts/{{ post.id }}'>Boast</a> or
    <a href='/roasts/{{ post.id }}'>Roast</a>
    <br/>
    <br/>
    <small>
        <a href="{% url 'delete_post' post.id %}">DELETE POST</a>
    </small>
{% endfor %}
<br>
<br>
<hr>
| <a href='/'>Home</a> | <a href='/create_post/'>Create Post</a> |
<hr>