<h1>{{ app_name }}</h1>
<br/>
<br/>
<h2></h2>
{% for post in posts %}
    <ul>
        {# data start here #}
        <li>
            {{ post.text }}
        </li>
        <li>
            {{ post.boast }}
        </li>
        <li>
            {{ post.roast }}
        </li>
        <li>
            {{ post.created_at }}
        </li>
        {# buttons start here #}
        <li>
            <a href='/boast/{{ post_id }}'>Boast</a>
        </li>
        <li>
            <a href='/roast/{{ post_id }}'>Roast</a>
        </li>
    </ul>
{% endfor %}
<br>
<br>
| <a href='/'>Home</a> | <a href='/create_post/'>Create Post</a> |
